<mat-card>
<mat-card-content>
	<table width="100%">
		<tr>
			<td width="40%">
				<mat-card-title>
					<h4>Forms Setup</h4>
				</mat-card-title>
			</td>
			<td class="text-center">
				<form [formGroup]="dealsForm">
					<!-- <mat-form-field> -->
					<label>Display forms for: </label>
					  <select (ngModelChange)="objChanged($event)" formControlName="name">
					    <option *ngFor="let deal of deals" [value]="deal.id">
					      {{deal.name}}
					    </option>
					  </select>
					<!-- </mat-form-field> -->
				</form>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<form [formGroup]="setupForm">
				<label style="width: 100px;">File</label>
				<input style="width: 200px;" class="" type="" formControlName="file">
					<br>
					<label style="width: 100px;">Description</label>
					<input style="width: 200px;" class="" type="" formControlName="description">
					<br>
					<label style="width: 100px;">Language</label>
					<input style="width: 200px;" class="" type="" formControlName="language">
				</form>
			</td>
			<td valign="top">
				<table style="width: 100%; background-color: white" class="table table-sm table-condensed table-striped table-bordered">
                    <thead style="background: #42aa3f">
						<th></th>
						<th>Description</th>
						<th>File</th>
						<th>Language</th>
						<th></th>
					</thead>
					<tbody>
						<tr *ngFor="let file of formFiles">
							<td (click)="populateForm(file)" style="color: #42aa3f"><i class="ion-refresh"></i></td>
							<td>{{file.description}}</td>
							<td>{{file.file}}</td>
							<td>{{file.language}}</td>
							<td style="color: red;" (click)="delete(file)">
                                    <i class="icon-remove-circle icon-sm"></i>
                            </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</table>
</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="submit()">Save</button>
</mat-card-footer>
</mat-card>