<div style="" class="custom-card">
<!-- <div style="color: #42aa3f" class="text-right">
	<mat-icon ng-click="count = count - 1" ng-init="count=0">keyboard_arrow_left</mat-icon>
	<mat-icon ng-click="count = count + 1" ng-init="count=0">keyboard_arrow_right</mat-icon>
</div> -->
<div style="color: red" *ngIf="errorMessage">
	<ul>
		<li *ngIf="errorMessage.loc_code">Location Code Required | Maximum Length: 4</li>
		<li *ngIf="errorMessage.location_name">Location Name Required | Must be Unique</li>
		<li *ngIf="errorMessage.area_id">Area Code Required</li>
	</ul>
</div>
<form [formGroup]="locForm">
	<table style="height: 100%" class="main-table" width="100%">
	<h6><b><u>Location Table</u></b></h6>
		<tr>
			<td width="20%">
				<!-- <label (click)="getAllLocations()">Location Code</label> -->
				<button (click)="getAllLocations()">Location Code</button>
			</td>
			<td width="30%">
				<input [attr.disabled]="action ? '' : null" maxlength="4" class="input-sm" type="text" formControlName="loc_code" size="10">
				<span style="float: right;">
					<label>Area Code</label>
					&nbsp;&nbsp;&nbsp;
					<select formControlName="area_id" style="width: 170px; height: 24px; align-self: center;">
						<option [value]="area.id" *ngFor="let area of areas">
							{{area.code}}
						</option>
					</select>
				&nbsp;&nbsp;
				</span>
			</td>
			<td width="20%">
				<label>Mimimum Age</label>
			</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%">
						<input type="text" size="4" formControlName="minimum_age">Age
						</td>
						<td>
							<label>Change Age</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox" formControlName="change_age">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="20%">Location Name</td>
			<td width="35%">
				<input type="text" formControlName="location_name" size="51">
			</td>
			<td>Grace Period</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="grace_period" size="4">min</td>
						<td>
							<label>No Show Grace Period</label>
						<input type="checkbox" formControlName="show_grace_period">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>DBA Name</td>
			<td>
				<input type="text" formControlName="dba_name" size="51">
			</td>
			<td width="20%">
				<label>Next Day Cutoff</label>
			</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" size="4" formControlName="next_day_cutoff">min</td>
						<td>
							<label>LOR Optional Service</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox" formControlName="lor_optional_service">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Street 1</td>
			<td>
				<input type="text" formControlName="street1" size="51">
			</td>
			<td>Fixed Return</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="fixed_return" size="4">hour</td>
						<td>
							<label>LOR Early</label>
						<input type="checkbox" formControlName="lor_early">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Street 2</td>
			<td>
				<input type="text" formControlName="street2" size="51">
			</td>
			<td>Fuel Per Km <</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="fuel_per_km" size="4">kms</td>
						<td>
							<label>Default Fuel Level</label>
							<input type="text" formControlName="default_fuel_level" size="10">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>City / Country</td>
			<td>
				<input type="text" formControlName="city" size="20">
				<span style="float: right;">
					<select formControlName="country" style="width: 200px; height: 24px;">
						<option [value]="country.id" *ngFor="let country of countries">             {{country.name}}</option>
					</select>
				&nbsp;&nbsp;
				</span>
			</td>
			<td>Quote Expires</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="quote_expires" size="4">days</td>
						<td>
							<label>Shop ID</label>
							<input type="text" formControlName="shop_id" size="10">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>State / Postal Code</td>
			<td>
				<!-- <mat-form-field class="example-full-width"> -->
					    <input size="20" type="text" formControlName="state" placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
					    <mat-autocomplete #auto="matAutocomplete">
					      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
					        <span>{{state.name}}</span>
					      </mat-option>
					    </mat-autocomplete>
					  <!-- </mat-form-field> -->
				<!-- <input type="text" formControlName="state" size="20"> -->
				<span style="float: right;">
					<input type="text" formControlName="postal_code" size="20">
					&nbsp;&nbsp;
				</span>
				
			</td>
			<td>Days In Rental Month</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="days_in_rental_month" size="4">days</td>
						<td>
							<label>Insurance Certificate#</label>
							<input type="text" formControlName="insurance_certificate" size="10">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td>
				<input type="text" formControlName="phone_number" size="15">
				<span style="float: right;">
					<label>Fax Number</label>&nbsp;&nbsp;&nbsp;
					<input type="text" formControlName="fax_number" size="15">
					&nbsp;&nbsp;
				</span>
			</td>
			<td>Maintanance Hold</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="maintenance_hold" size="4">days</td>
						<td>
							<label>Check Maintancance</label>
							<input type="text" formControlName="check_maintenance" size="10">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Time Zone</td>
			<td>
				<span>
					<!-- <select style="width: 370px; height: 30px; align-self: center;">
					   <option [value]="timezone[0]" *ngFor="let timezone of timezones">             {{timezone[1]}}</option>
					 </select> -->
					 <input size="20" type="text" formControlName="timezone" placeholder="Timezone" aria-label="Timezone" [matAutocomplete]="auto" [formControl]="timezoneCtrl">
					    <mat-autocomplete #auto="matAutocomplete">
					      <mat-option *ngFor="let timezone of filteredTimezones | async" [value]="timezone.abbreviation">
					        <span>{{timezone.abbreviation}}</span>
					      </mat-option>
					    </mat-autocomplete>
					&nbsp;&nbsp;
				</span>
			</td>
			<td width="20%">Maximum Days to backdate Return</td>
			<td width="30%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="max_days_to_backdate_return" size="4">days</td>
						
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Franchise Type</td>
			<td>
				<input type="text" formControlName="franchise_type" size="20">
			</td>
			<td>End Of GL Period</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td>
							<!-- <mat-form-field> -->
								<input [matDatepicker]="picker" formControlName="end_of_gl_period" placeholder="End Of GL Period">
								<mat-datepicker-toggle class="mat-datepicker-toggle" matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							<!-- </mat-form-field> -->
						<!-- <input type="date" formControlName="grace_period" size="8"> -->
						</td>
						<td>
							
							<label>Split Current GL Period</label>
							<input type="checkbox" formControlName="split_current_gl_period" size="10">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Last R/A Number</td>
			<td>
				<input type="text" formControlName="ra_number" size="20">
			</td>
			<td>Owning Group Code</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="30%"><input type="text" formControlName="owning_group_code" size="16"></td>
						
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Default Rate Plan</td>
			<td>
				<select formControlName="default_rate_plan" style="width: 140px; height: 24px;">
					<option [value]="rate.id" *ngFor="let rate of default_rate_plans">             {{rate.name}}</option>
				</select>
				&nbsp;&nbsp;
				<span style="float: right;">
					<label style="text-align: right;">Rate Code</label>
					<select formControlName="rate_code" style="width: 140px; height: 24px;">
						<option [value]="rate.id" *ngFor="let rate of rateCode">             {{rate.name}}</option>
					</select>
					&nbsp;&nbsp;
				</span>
			</td>
			<td>Currency</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<!-- <td width="30%"><input type="text" formControlName="grace_period" size="45"></td> -->
						<td width="30%">
							<select formControlName="currency" style="width: 350px; height: 24px;">
							   <option [value]="currency.code" *ngFor="let currency of currencies">             {{currency.code}} - {{currency.currency}}</option>
							 </select>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Location Email</td>
			<td>
				<input type="text" formControlName="location_email" size="20">
			</td>
			<td>Convert REZ to local Currency</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td>
							<select formControlName="convert_rez_to_local_currency" style="width: 140px; height: 24px; align-self: center;">
							   <option [value]="action.id" *ngFor="let action of paymentActions">             {{action.action}}
							   </option>
							 </select>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Send Rez Email</td>
			<td>
				<input type="checkbox" formControlName="send_rez_email" size="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label style="text-align: right;">Email On Update</label>
				&nbsp;&nbsp;
				<select style="width: 75px; height: 24px; align-self: center;">
					<option>Yes</option>
					<option>No</option>
					<option>Prompt</option>
				</select>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span style="float: right;">
					<label style="text-align: right;">Rem Days</label>
					<input type="text" formControlName="rem_days" size="8">
					&nbsp;&nbsp;
				</span>
			</td>
			<td>Payment Due Action - At Open</td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="50%">
							<select formControlName="payment_due_action_at_open" style="width: 140px; height: 24px; align-self: center;">
							   <option [value]="action.id" *ngFor="let action of paymentActions">             {{action.action}}
							   </option>
							 </select>
						</td>
						<td>
							<input type="checkbox" formControlName="require_payment">
							<label>Require Payment</label>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="20%">Send Rez Email w/ Form</td>
			<td width="30%">
					<span style="float: right;">
						<select formControlName="send_rez_email_w_form" style="width: 370px; height: 24px; align-self: center;">
						   <option [value]="form.id" *ngFor="let form of forms">             {{form.description}}</option>
						 </select>
						&nbsp;&nbsp;
					</span>
			</td>
			<td width="20%">Payment Due Action - At Edit</td>
			<td width="30%">
				<table width="100%">
					<tr>
						<td width="50%">
							<select formControlName="payment_due_action_at_edit" style="width: 140px; height: 24px; align-self: center;">
							   <option [value]="action.id" *ngFor="let action of paymentActions">             {{action.action}}</option>
							 </select>
						</td>
						<td>
							<input type="checkbox" formControlName="also_apply">
							<label>Also Apply...</label>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Email BCC</td>
			<td>
				<input type="text" formControlName="email_bcc" size="51">
			</td>
			<td width="25%">Payment Due Action - At Return</td>
			<td width="25%">
				<table width="100%">
					<tr>
						<td width="50%">
							<select formControlName="payment_due_action_at_return" style="width: 140px; height: 24px; align-self: center;">
							   <option [value]="action.id" *ngFor="let action of paymentActions">             {{action.action}}</option>
							 </select>
						</td>
						<td>
							<input type="checkbox" formControlName="require_refund">
							<label>Require Refund ...</label>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Physical Inventory Group</td>
			<td>
			<input type="text" formControlName="physical_inventory_group" size="25">
			</td>
			<td></td>
			<td width="35%">
				<table width="100%">
					<tr>
						<td width="50%">
							Purge Years
						</td>
						<td>
							<input type="text" formControlName="purge_years">
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>Unit State After Return</td>
			<td>
				<select formControlName="payment_due_action_at_return" style="width: 370px; height: 24px; align-self: center;">
				   <option [value]="status.id" *ngFor="let status of lblUnitStatusAfterReturn">             {{status.name}}</option>
				 </select>
				<!-- <select style="width: 370px; height: 24px; align-self: center;">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select> -->
			</td>
		</tr>
		<tr>
			<td>Property ID</td>
			<td>
				<input type="text" formControlName="property_id" size="15">
				<span style="float: right;">
					<label>Governmemt ID</label>
					<input type="text" formControlName="government_id" size="15">
					&nbsp;&nbsp;
				</span>
			</td>
		</tr>
	</table>
</form>
</div>
<mat-card  style="padding: 5px;">
	<button class="btn btn-sm btn-success" (click)="submitForm()">Save</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="newLocation()">New</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="openTaxes()">Taxes</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="openOneWayDrops()">One Way Drops</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="fleetAvailability()">Fleet Shares</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="locationNotes()">Notes</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="formSetup()">Form Setup</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="estimated_monthly_expenses()">Estimated Expenses</button>
</mat-card>
<!-- <app-location-footer></app-location-footer> -->