<mat-card>
<mat-card-title>
	<h5>Location Notes</h5>
</mat-card-title>
<mat-card-content>
<form [formGroup]="locationNotesForm">
	<table width="100%">
		<tr>
			<td width="20%">
				<label>Location</label>
			</td>
			<td>
				<div formGroupName="location">
				<input type="text" formControlName="loc_code">
				</div>
				
			</td>
		</tr>
		<tr>
			<td valign="top">
				<div class="form-group">
					Type
					<select formControlName="note_type" class="form-control form-control-sm">
						<option [value]="type.id" *ngFor="let type of noteTypes">
							{{type.type}}
						</option>
					</select>
				</div>
				Language
				<select formControlName="language" class="form-control form-control-sm">
					<option [value]="language.id" *ngFor="let language of languages">
							{{language.name}}
						</option>
				</select>
			</td>
			<td>
				<textarea rows="15" cols="80" formControlName="note">
					
				</textarea>
			</td>
		</tr>
	</table>
</form>

</mat-card-content>

</mat-card>

<mat-card-footer style="text-align: center; padding-top: 5px">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>