<div class="custom-card">

<table width="100%" valign="center">
<h6><b><u>Location Table</u></b></h6>
	<tr>
		<td>
			<form>
				<table width="100%">
				<tr>
					<th>
						Contact
					</th>
				</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Last 4 CC Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 1
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 2
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							City
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Postal Code
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Country
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Email
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Home Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Work Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Mobile Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							DOB
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Expiration Date
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Contry
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Issue Date
							</label>
						</td>
					</tr>
				</table>
			</form>
		</td>
		<td>
			<form>
				<table width="100%">
				<tr>
					<th>
						Invoice
					</th>
				</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Last 4 CC Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 1
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 2
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							City
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Postal Code
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Country
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Email
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Home Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Work Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Mobile Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							DOB
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Expiration Date
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Contry
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Issue Date
							</label>
						</td>
					</tr>
				</table>
			</form>
		</td>
		<td>
			<form>
				<table width="100%">
				<tr>
					<th>
						Quote / Reservation Summary
					</th>
				</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Last 4 CC Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 1
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 2
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							City
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Postal Code
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Country
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Email
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Home Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Work Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Mobile Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							DOB
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Expiration Date
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Contry
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Issue Date
							</label>
						</td>
					</tr>
				</table>
			</form>
		</td>
		<td>
			<form>
				<table width="100%">
				<tr>
					<th>
						Mobile Receipt
					</th>
				</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Last 4 CC Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 1
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 2
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							City
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Postal Code
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Country
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Email
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Home Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Work Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Mobile Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							DOB
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Expiration Date
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Contry
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Issue Date
							</label>
						</td>
					</tr>
				</table>
			</form>
		</td>
		<td>
			<form>
				<table width="100%">
				<tr>
					<th>
						Payment Receipt
					</th>
				</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Last 4 CC Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 1
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 2
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							City
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Postal Code
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Country
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Email
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Home Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Work Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Mobile Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							DOB
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Expiration Date
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Contry
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Issue Date
							</label>
						</td>
					</tr>
				</table>
			</form>
		</td>
		<td>
			<form>
				<table width="100%">
				<tr>
					<th>
						Email Content
					</th>
				</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Last 4 CC Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 1
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Street 2
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							City
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Postal Code
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Country
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Email
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Home Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Work Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Mobile Phone
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							DOB
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License State
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							License Expiration Date
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Number
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Contry
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<label class="container">
							<input type="checkbox" >
							Passport Issue Date
							</label>
						</td>
					</tr>
				</table>
			</form>
		</td>
		</tr>

</table>
	
</div>
<app-location-footer></app-location-footer>