body {
	background-color: White;
	color: Black;
	font-family: Tahoma;
	font-size: 11px;
	margin: 1px 1px 1px 1px;
}
TD {
	font-size: 11px; font-family: Tahoma;
}
.MainTable {
	border-collapse: collapse; border: solid 1px #DBB84D; width:100%; margin: 0px 0px 0px 1px;
    background: -moz-linear-gradient(top,  rgba(255,255,218,1) 0%, rgba(255,255,163,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,218,1)), color-stop(100%,rgba(255,255,163,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,218,1) 0%,rgba(255,255,163,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,218,1) 0%,rgba(255,255,163,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,218,1) 0%,rgba(255,255,163,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,218,1) 0%,rgba(255,255,163,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFDA', endColorstr='#FFFFA3',GradientType=0 );
}
.InputTable {
	border-collapse: collapse; border-width: 0px; 
}
.MainTable > tbody > tr, 
.InputTable > tbody > tr
{
	height: 24px;
	border-width: 0px;
}
.MainTable > tbody > tr > td,
.InputTable > tbody > tr > td 
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 1px;
}
.BtnTable {
	background: white; border-collapse: collapse; border-width: 0px; width:10px; height:25px;
}
.BtnTable td {
	padding: 0px 0px 0px 0px;
}
.CenterTbl {
  margin-left: auto; margin-right: auto;
}
.BtnStyle 
{
	color: white;
	margin: 4px 4px 0px 0px;
	padding: 0px 0px 0px 0px; 
	border: black 1px solid;
	/*background-image: url('Images/ButtonBack.png');*/
	background-repeat: repeat-x;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	height: 22px;
	line-height: 16px;
	cursor: pointer;
	-moz-border-radius: 5px;
    border-radius: 5px;
}
.BtnStyle.Red 
{
	color: Maroon;
}
.BtnStyle:hover 
{
	/*background-image: url('Images/ButtonBack_hover.png');*/
}
.BtnStyle[disabled]:hover 
{
	background-image: none
}
.BtnStyle[disabled] 
{
    color: #bdbdbd;
	cursor: default;    
	border: #bbb 1px solid;
    background-image: none;
    background: #eee;    
}
.BtnStyle.Red [disabled],
.BtnLbl[disabled]
{
	color: #BBB;
	cursor: default;    
}
.BtnLbl {
	font-family: Tahoma; font-size: 11px;  
	color: Navy; background-color: Transparent; border: none; 
	text-align:left; text-decoration: underline;  
	padding: 0px 0px 0px 0px;
	cursor:pointer;
}
textarea {
	resize: none;
	border: solid 1px #6788be;
	font-size: 11px;
	font-family: Tahoma;
}
input[type=text],
input[type=password] {
	border: solid 1px #6788be;
	height: 16px;
	line-height: 14px;
	font-size: 11px;
	font-family: Tahoma;
	padding: 1px 1px 1px 2px;
    margin: 0px;
}
input[type=text][disabled],
textarea[disabled],
input[type=text][readonly],
textarea[readonly] {
	border: solid 1px #B3C4DE;
	color: #666;
	background-color: #FFF;
}
select {
	font-size: 11px;
	font-family: Tahoma;
	border: solid 1px #6788be;
	vertical-align: bottom;
}
select {
	height: 20px;
}
select[multiple] {
	height: auto;
}
select[disabled],
select[readonly] {
	border: solid 1px #B3C4DE;
	background-color: #FFF;
}
select:focus {
	background-color: #ffcc99;
}
.pgTitle {
	font-weight: bold;
	font-size: 13px;
	font-family: Tahoma;
	text-decoration: underline;
}
.money {
	text-align: right;
}
.HideMe {
	width: 0px; 
	height: 0px; 
	padding: 0px 0px 0px 0px;
	display: none;
	visibility: hidden;
	margin: 0px 0px 0px 0px;
}
.ChargeGrid {
	border-collapse: collapse; border: inset 2px gray; 
}
.ChargeGrid tr {
	height: 16px;
}
.ChargeGridHeader {
	font-weight:bold; text-align:center; color:White; background-color:#92b4e0;
}
.ChargeGridItems {
	background: #FFFFFF; 
}
.ChargeGridItems td {
	padding: 0px 2px 0px 2px;
}
.ChargeGridAltItems {
	background: #ddddff; 
}
.ChargeGridAltItems td {
	padding: 0px 2px 0px 2px;
}
.ChargeGridSelItems {
	background: #dcfc5c; 
}
.ChargeGridSelItems td {
	padding: 0px 2px 0px 2px;
}
.LookUpPager
{
	background-color:silver;
}
.CalBtn
{
	/*background-image: url('Images/calendar.gif');*/
}
.ImageBtn,
.GrdBtn > input[type=image],
.CalBtn
{ 
	border-right: 0px !important; 
	border-left: 0px !important; 
	border-top: 0px !important; 
	border-bottom: 0px !important; 
	width: 16px; 
	height: 16px;
	cursor: pointer;
	background-color: Transparent !important;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align:bottom;
}

.ImageBtnNoLink
{ 
	border-right: 0px; 
	border-left: 0px; 
	border-top: 0px; 
	border-bottom: 0px; 
	width: 16px; 
	height: 16px;
	cursor: default;
	background-color: Transparent;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align:bottom;
}
.LabelHeading
{font-family:Tahoma; font-size:8pt; font-weight:bold; color:black;}

A	
{
	text-decoration:	none;
	color:	#333399;
}
A:visited	{	
	text-decoration:	none;
	Color:#333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
A:link
{
	color: #3333cc;
	text-decoration: none;
}	
.rgFilterRow > td 
{
    /* Leave commented out, issues with AutoGenerateColumn grids */
   /*	white-space: normal !important; */
}
.RadInput_Web20 > input.riTextBox {
    height: 20px !important;
    line-height: 14px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    margin: 4px 4px 0px 0px;
}

.ClosedSortAdj_Padding {
    padding-left : 10px !important;
}

.BtnDisableLink {
    text-decoration: none !important;
    color: black !important;
    cursor: inherit !important;
}

.RadInput_Web20 .riTextBox {
   font: normal 12px "Segoe UI",Arial,Helvetica,sans-serif !important;
}

.RadPicker .rcCalPopup, .RadPicker .rcTimePopup {
    width: 22px !important;
    height: 22px !important;
}

div.RadCalendar .rcRow a, .RadCalendar .rcRow span {
    padding: 0px;
}

.txtingBox {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.txtingLegend {
    background: #FFFACD;
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 2px;
}