<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-4 offset-md-4 col-xs-12">

      <p style="text-align: center">
            <img id="ImgTitle" width="350" height="120" src="../../assets/img/woodford.png" />&nbsp;
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
<fieldset style="border: none;" [disabled]="isSubmitting">
        <table class="InputTable" style="width: 305px; height: 133px; margin-left: auto; margin-right: auto;" width="294">
                <tr align="center">
                    <td>
                        <span id="lblAccountNum" style="display:inline-block;width:120px;text-align: right">Account #</span>
                    </td>
                    <td>
                        <input disabled name="account" type="text" size="25" id="txtTsdNum" tabindex="1" style="width:120px;" />
                    </td>
                    <td rowspan="5">
                        
                    </td>
                </tr>
                <tr id="trCoNum" align="center" style="display: none">
    <td>
                        <span id="lblCustAcctCoNum" style="display:inline-block;width:120px;text-align: right">Company #</span>
                    </td>
    <td>
                        <input name="company" type="text" size="25" tabindex="2" style="width:120px;" />
                    </td>
  </tr>
  
                <tr align="center">
                    <td>
                        <span id="lblUserName" style="display:inline-block;width:120px;text-align: right">Email </span>
                    </td>
                    <td>

                        <input
                        formControlName="email"
                        type="text"
                        tabindex="2" style="width:120px;"
                        size="25"
                        placeholder="Email" />
                        <!-- <input name="email" type="email" size="25" id="txtUsername" tabindex="2" style="width:120px;" /> -->
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <span id="lblPassword" style="display:inline-block;width:120px;text-align: right">Password</span>
                    </td>
                    <td>
                      <input class=""
                          formControlName="password"
                          type="password"
                          size="25" tabindex="3" style="width:120px;"
                          placeholder="Password" />
                        <!-- <input name="password" type="password" size="25" id="txtPassword" tabindex="3" style="width:120px;" /> -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr align="center">
                    <td align="center" colspan="2">
                        <input [disabled]="!authForm.valid" type="submit" name="LoginBtn" value="Login" id="LoginBtn" tabindex="4" class="BtnStyle" style="width:55px;" />
                    </td>
                </tr>
                <tr align="center">
                    <td align="center" colspan="2">
                        <input type="submit" name="btnForgotPassword" value="Need help logging in?" id="btnForgotPassword" tabindex="5" class="BtnLbl" style="width:170px;font-size: 14px; font-weight: bold; padding: 7px; margin-top: 10px; color: #74138C;" />
                    </td>
                </tr>
                <tr id="trCreateAcct" align="center" style="display: none">
    <td align="center" colspan="2">
                        <input type="submit" name="btnCreateAcct" value="Create Account" id="btnCreateAcct" tabindex="5" class="BtnLbl" style="width:125px;font-size: 13px; font-weight: bold" />
                    </td>
  </tr>
  
                <tr>
                    <td colspan="2">
                        <p id="invalid" style="color:red;text-align:center;"></p>
                    </td>
                </tr>

            </table>
</fieldset>

          <!-- <fieldset [disabled]="isSubmitting"> 

            <fieldset>
                <div class="form-group row">
                    <label style="display:inline-block;width:120px;text-align: right" class="form-label col-md-4">Account: </label>
                    <div class="col-md-6">
                        <input class="form-control-sm"
                        formControlName="email"
                        type="text" disabled="disabled" 
                        placeholder="Account" />
                    </div>
                    <label style="display:inline-block;width:120px;text-align: right" class="form-label col-md-4">Username: </label>
                    <div class="col-md-6">
                        <input class="form-control-sm"
                        formControlName="email"
                        type="text"
                        placeholder="Email" />
                    </div>
                    <label style="display:inline-block;width:120px;text-align: right" class="form-label col-md-4">Password: </label>
                    <div style="height: 30px;" class="col-md-6">
                        <input class="form-control-sm"
                        formControlName="password"
                        type="password"
                        placeholder="Password" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                  <a class="col-md-6" href="#">Reset Password</a>
                    <button style="width:55px; height: 30px" class="btn-info" [disabled]="!authForm.valid" type="submit">
                      Login
                    </button>
                </div>
            </fieldset> -->
            
            
          <!-- </fieldset> -->
        </form>
      </div>

    </div>
  </div>
</div>
