<mat-card>
<mat-card-title>
	<h4>Taxable</h4>
</mat-card-title>
<mat-card-content>

<table width="100%">
<tr>
	<th></th>
	<th>Rental</th>
	<th>Kilometres</th>
	<th>Late</th>
	<th>Fuel</th>
	<th>Prepaid Fuel</th>
	<th>Interest</th>
	<th>Surcharge</th>
	<th></th>
</tr>
	<tr *ngFor="let food of foods">
		<td style="float: right;">{{food.viewValue}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		
	</tr>
</table>

</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>
</mat-card>