<mat-card>
<mat-card-title>
	<h4>Surcharge</h4>
</mat-card-title>
<mat-card-content>
<table width="100%">
	<tr>
		<td>
			<input type="checkbox" name="">Apply Surcharge after discount
		</td>
		<td>
		<mat-form-field>
			<input matInput [matDatepicker]="picker" placeholder="As Of Date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table width="1005">
				<tr>
					<th>Description</th>
					<th>Amount</th>
					<th>Type</th>
					<th>Days</th>
					<th colspan="2">Charge % Over Days</th>
					<th>Flat Fee</th>
					<th>As Of Date</th>
				</tr>
				<tr>
					<td>Surcharge</td>
					<td>
						<input size="10" type="text" name="" value="0.00">
					</td>
					<td>
						<select>
							<option>Daily</option>
							<option>Daily - Extra Day</option>
							<option>One Time</option>
							<option>Percent</option>
							<option>> Of Flat or %</option>
							<option>Kenai, AK</option>
							
						</select>
					</td>
					<td>
						<input size="10" type="text" name="" value="0">
					</td>
					<td>
						<input type="checkbox" name="">
					</td>
					<td>
						<input size="10" type="text" name="" value="0.00%">
					</td>
					<td>
						<input size="10" type="text" name="" value="0.00">
					</td>
					<td>
						<mat-form-field>
							<input matInput [matDatepicker]="picker1" placeholder="As Of Date">
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>
</mat-card>