<mat-card class="footer-card">
  <mat-card-content>
  	<button class="btn btn-sm btn-success">Save</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="newLocation()">New</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="openTaxes()">Taxes</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="openOneWayDrops()">One Way Drops</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="fleetAvailability()">Fleet Shares</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="locationNotes()">Notes</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="formSetup()">Form Setup</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="estimated_monthly_expenses()">Estimated Expenses</button>
  </mat-card-content>
 </mat-card>