<mat-card>
<mat-card-title>
	<h4>One Way Drops</h4>
</mat-card-title>
<mat-card-content>
<form [formGroup]="dropsForm">
	<table style="width: 100%; background-color: white" class="table table-sm table-condensed table-striped">
        <thead style="background-color: #42aa3f">
			<th>Allowed</th>
			<th>Loc Code</th>
			<th>Loc Name</th>
			<th>City / State</th>
			<th>Drop Fee</th>
		</thead>
		<tbody>
			<tr *ngFor="let drop of drops">
				<td>
					<input type="checkbox" formControlName="allowed" value="{{drop.allowed}}">
				</td>
				<td>
					{{drop.location.loc_code}}
				</td>
				<td>
					{{drop.location.location_name}}
				</td>
				<td>
					{{drop.city.name}} / {{drop.state.name}}
				</td>
				<td>
				<input type="text" formControlName="drop_fee" value="{{drop.drop_fee}}">
					
				</td>
			</tr>
		</tbody>
	</table>
</form>

</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="submit()">Save</button>
</mat-card-footer>
</mat-card>