<mat-card>
<mat-card-title>
	<h4>Estimated Monthly Expense</h4>
</mat-card-title>
<mat-card-content>
<table width="100%">
	<tr>
		<td width="40%" valign="top">
			<form [formGroup]="expensesForm">
			<div formGroupName="location">
				<label style="width: 70px;">Code</label>
				<input style="width: 100px;" class="" type="" formControlName="loc_code">
				<br>
				<label style="width: 70px;">Description</label>
				<input style="width: 240px;" class="" type="" formControlName="location_name">
			</div>
			<label style="width: 70px;">Amount</label>
			<input style="width: 100px;" class="" type="" formControlName="amount">
			</form>
		</td>
		<td valign="top">
			<table style="width: 100%; background-color: white" class="table table-sm table-condensed table-striped">
		        <thead style="background-color: #42aa3f">
					<th></th>
					<th>Loc Code</th>
					<th>Description</th>
					<th>Amount</th>
					<th></th>
				</thead>
				<tbody>
					<tr *ngFor="let exp of expenses">
						<td (click)="populateForm(exp)" style="color: #42aa3f"><i class="ion-refresh"></i></td>
						<td>
							{{exp.location.loc_code}}
						</td>
						<td>
							{{exp.location.location_name}}
						</td>
						<td>
							{{exp.amount}}
						</td>
						<td style="color: red;" (click)="delete(exp)">
                            <i class="icon-remove-circle icon-sm"></i>
                        </td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>
</mat-card>