<mat-card>
<mat-card-title>
	<h4>Location Taxes</h4>
</mat-card-title>
<mat-card-content>
	<form>
		<table border="0" class="100%">
			<tr>
				<th></th>
				<th>Description</th>
				<th>Percent</th>
				<th>Type</th>
				<th>Days</th>
				<th>% Over Days</th>
				<th>Minimum</th>
				<th>Optional</th>
				<th>Surcharge</th>
				<th></th>
				<th></th>
			</tr>
			<tr *ngFor="let food of foods">
				<td width="60px;" style="float: right;">{{food.viewValue}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td width="150px">
					<input name="description" placeholder="Description" value="">
				</td>
				<td>
					<input name="percent" size="" placeholder="Percent" value="">
				</td>
				<td>
					<select name="type">
					    <option>None</option>
					    <option value="option1">Option 1</option>
					    <option value="option2">Option 2</option>
					    <option value="option3">Option 3</option>
					  </select>
				</td>
				<td>
					<input name="days" size="5" placeholder="Days" value="1">
				</td>
				<td><input name="percent_over_days" size="8" placeholder="% Over Days" value="0.00"></td>
				<td><input name="minimum" size="8" placeholder="Minimum" value="0.00"></td>
				<td><input type="checkbox" name=""></td>
				<td><input type="checkbox" name=""></td>
				<td><input type="checkbox" name=""></td>
				<td><input type="checkbox" name=""></td>
			</tr>
		</table>
	</form>
</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>
</mat-card>
