<div class="container">
	<mat-tab-group class="example-stretched-tabs mat-elevation-z4">
	  <mat-tab class="mat-tab" label="Main">
	  	<ng-template class="mat-tab-label">
	      Main
	    </ng-template>
	  	<app-location-main></app-location-main>
	  </mat-tab>
	  <!-- <mat-tab label="Location"><app-locations></app-locations></mat-tab> -->
	  <mat-tab label="Options">
	  	<ng-template class="mat-tab-label">
	      Options
	    </ng-template>
	  	<app-location-options></app-location-options>
	  </mat-tab>
	  <mat-tab label="Form Values Hidden">
	  	<ng-template class="mat-tab-label">
	      Form Values Hidden
	    </ng-template>
	    <app-location-form></app-location-form>
	   </mat-tab>
	  <mat-tab label="Location Renter Exception">
	  	<ng-template class="mat-tab-label">
	      Location Renter Exception
	    </ng-template>
	    <app-location-renter></app-location-renter>
	   </mat-tab>
	</mat-tab-group>
</div>