.mat-tab {
	border: 1px;
	font-weight: bolder;
	border: 1px;
	padding: 5px;
}

body {
    background-color: White;
    color: Black;
    font-family: Tahoma;
    font-size: 11px;
    margin: 1px 1px 1px 1px;
}


.mat-tab-label {
	height: 10px;
	text-align: right;
	font-weight: bolder;
	font-family: Tahoma;
	color: Black;
	font-style: italic;
}