<div *appShowAuthed="true">
<nav class="navbar navbar-expand-lg" style="background-color: #42aa3f; height: 35px; color: white">
  <div class="" id="">
<ul class="navbar-nav mr-auto">

<button mat-button routerLink="/home">Home</button>
<button mat-button [matMenuTriggerFor]="file">File</button>
<button mat-button>Search</button>
<button mat-button>Quotes</button>
<button mat-button>Fleet</button>
<button mat-button>Admin</button>
<button mat-button>Reports</button>
<button mat-button>Activity Bar</button>
<button mat-button>Screen</button>
<button mat-button>Help</button>
<mat-menu class="mat-menu" #file="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="setup">Setup</button>
  <button mat-menu-item>User Preferences</button>
  <button mat-menu-item>Internal Messaging</button>
  <button mat-menu-item (click)="logout()">
    Logout
  </button>
</mat-menu>

<mat-menu class="mat-menu" #setup="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="location">Location Tables</button>
  <button mat-menu-item>Signature Text</button>
  <button mat-menu-item>System Security</button>
  <button mat-menu-item>Fleet Tables</button>
  <button mat-menu-item>Optional Services</button>
  <button mat-menu-item>Sources</button>
  <button mat-menu-item>Credit Card Services</button>
  <button mat-menu-item>Payment Tables</button>
  <button mat-menu-item>Rates</button>
  <button mat-menu-item>Company Setup</button>
  <button mat-menu-item>Preferred renters</button>
  <button mat-menu-item>General Ledger</button>
</mat-menu>

<mat-menu class="mat-menu" #location="matMenu">
  <button mat-menu-item routerLink="/regions">Regional Table</button>
  <button mat-menu-item routerLink="/area">Area Table</button>
  <button mat-menu-item routerLink="/location">Location</button>
  <button mat-menu-item routerLink="/closed_days">Location Closed Days</button>
  <button mat-menu-item routerLink="/hooperation">Hours Of Operation</button>
  <button mat-menu-item>Taxs Setup Listing</button>
</mat-menu>



      <!-- <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li> -->

     <!--  <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li> -->

    </ul>

  </div>
</nav>


 </div>