.mat-menu-content {
}

.mat-menu-item {
  font-size: 12px;
  
}

button.mat-menu-item{
    background-color: #42aa3f;
    height: 45px;

}

button.mat-menu-item:hover {
    background-color: #42aa3f;
    height: 45px;
}

h5{
	color: #3ea972
}

.mat-menu {
	background-color: #42aa3f;
	font-size: 12px;
}