<mat-card style="padding-bottom: 20px; padding-left: 5px; padding-right: 5px; padding-top: 5px;">
	<mat-card-content>
		<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="example-table-container">

    <table class="mat-table" mat-table [dataSource]="data"
           matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>#</th>
        <td style="color: #42aa3f" mat-cell *matCellDef="let row"><button class="btn-primary-outline" [mat-dialog-close]="row"><i style="color: #42aa3f" class="ion-refresh"></i></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="loc_code">
        <th mat-header-cell *matHeaderCellDef>Location Code</th>
        <td mat-cell *matCellDef="let row">{{row.loc_code}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="location_name">
        <th mat-header-cell *matHeaderCellDef>Location Name</th>
        <td mat-cell *matCellDef="let row">{{row.location_name}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="street1">
        <th mat-header-cell *matHeaderCellDef>Street</th>
        <td mat-cell *matCellDef="let row">{{row.street1}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef >
          City
        </th>
        <td mat-cell *matCellDef="let row">{{row.city}}</td>
      </ng-container>

       <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let row">{{row.country}}</td>
      </ng-container>

       <ng-container matColumnDef="phone_number">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let row">{{row.phone_number}}</td>
      </ng-container>

       <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <input type="checkbox" [checked]="row.status" name="">
        </td>
      </ng-container>

       <ng-container matColumnDef="hidden">
        <th mat-header-cell *matHeaderCellDef>Hidden</th>
        <td mat-cell *matCellDef="let row">
          <input type="checkbox" [checked]="row.hidden" name="">
        </td>
      </ng-container>

      <tr style="height: 30px; font-weight: bolder;" class="mat-header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr style="height: 24px;" class="mat-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>


	</mat-card-content>
	<mat-card-footer style="padding-top: 0px;" class="mat-card-footer">
		<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
	</mat-card-footer>
</mat-card>