.mat-card-footer {
	text-align: center;
	padding: 5px;
}

.mat-table {
	border-collapse: collapse;
    border: solid 0.5px #DBB84D;
    width: 100%;
    margin: 2px;
    width: 100%;
    background: linear-gradient(to bottom, #D4EBBC 0%, rgba(212, 235, 188, 0.4) 100%);
}

.btn-primary-outline {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 20px;
  border: none;
}

.btn-primary-outline:hover {
  background-color: transparent;
}

.mat-header-row {

}

.mat-row {
    font-size: 11px;
    font-family: Tahoma;
    height: 10px;
}

th {
    background: #42aa3f;
    font-weight: bolder;
    height: 30px;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 250px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
