<mat-card>
	<div style="" class="custom-card">
	<form [formGroup]="locForm">
		<table style="height: 100%">
		<colgroup>
            <col style="width: 130px;">
            <col style="width: 330px;">
            <col style="width: 180px;">
            <col style="width: 90px;">
            <col style="width: 145px;">
            <col>
        </colgroup>
        <tbody>
        	<tr>
				<td>
					<label>Location Code</label>
				</td>
				<td>
					<input required maxlength="4" class="input-sm" type="text" formControlName="loc_code" size="10">
					<span style="float: right;">
						<label>Area Code</label>
						&nbsp;&nbsp;&nbsp;
						<select formControlName="area_id" style="width: 170px; height: 24px; align-self: center;">
							<option [value]="area.id" *ngFor="let area of areas">
								{{area.code}}
							</option>
						</select>
					&nbsp;&nbsp;
					</span>
				</td>
				<td width="20%">
					<label>Mimimum Age</label>
				</td>
				<td width="35%">
					<table width="100%">
						<tr>
							<td width="30%">
							<input type="text" size="4" formControlName="minimum_age">Age
							</td>
							<td>
								<label>Change Age</label>&nbsp;&nbsp;&nbsp;
								<input type="checkbox" formControlName="change_age">
							</td>
						</tr>
					</table>
				</td>
			</tr>
        </tbody>
	</table>
	</form>
	</div>
</mat-card>

<mat-card>
	<button class="btn btn-sm btn-success" (click)="submitForm()">Save</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="newLocation()">New</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="openTaxes()">Taxes</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="openOneWayDrops()">One Way Drops</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="fleetAvailability()">Fleet Shares</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="locationNotes()">Notes</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="formSetup()">Form Setup</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success" (click)="estimated_monthly_expenses()">Estimated Expenses</button>
</mat-card>