<div class="container">
	<mat-tab-group>
	  <mat-tab class="mat-tab" label="Taxes"><app-taxes></app-taxes></mat-tab>
	  <mat-tab label="Taxable"><app-taxable></app-taxable></mat-tab>
	  <mat-tab class="mat-tab" label="Taxes Taxed By"><app-taxes-taxed-by></app-taxes-taxed-by></mat-tab>
	  <mat-tab label="Surcharge"><app-surcharge></app-surcharge></mat-tab>
	  <mat-tab label="Order By"><app-order-by></app-order-by></mat-tab>
	</mat-tab-group>
</div>