<mat-card>
<mat-card-title>
	<h4>Taxes Taxed By</h4>
</mat-card-title>
<mat-card-content>

<table width="100%">
<tr>
	<th></th>
	<th>Tax 1</th>
	<th>Tax 2</th>
	<th>Tax 3</th>
	<th>Tax 4</th>
	<th>Tax 5</th>
	<th>Tax 6</th>
	<th>Tax 7</th>
	<th>Tax 8</th>
	<th>Tax 9</th>
	<th>Tax 10</th>
	<th>Tax 11</th>
	<th>Tax 12</th>
	<th>Tax 13</th>
	<th>Tax 14</th>
	<th>Tax 15</th>
</tr>
	<tr *ngFor="let food of foods">
		<th style="float: right;">{{food.viewValue}}&nbsp;&nbsp;&nbsp;&nbsp;</th>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
		<td><input type="checkbox" name=""></td>
	</tr>
</table>

</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>
</mat-card>