<div class="home-page">
  <div class="container">
  <div class="row" style="height: 20px;">
      
  </div>
  <div style="padding-bottom: 20px; padding-top: 20px;" class="row custom-card">
      <div class="col">
              <form [formGroup]="areaForm">
          <fieldset style="" [disabled]="isSubmitting">

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Code: </label>
                    <div class="col-md-6">
                        <input class=""
                        formControlName="code" required 
                        type="text" size="10" 
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>
            <fieldset>
               <div class="row">
                    <label class="form-label col-md-4 text-right">Description: </label>
                    <div class="col-md-6">
                        <input class="" size="30" 
                        formControlName="description"
                        type="text" required="required" 
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Region</label>
                    <div class="col-md-6">
                    <select class="" formControlName="region">
					   <option [value]="region.id" *ngFor="let region of regions">             {{region.description}}</option>
					 </select>
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Contact: </label>
                    <div class="col-md-6">
                        <input class="" size="30" 
                        formControlName="contact"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Street 1: </label>
                    <div class="col-md-6">
                        <input class="" size="30" 
                        formControlName="street1"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Street 2: </label>
                    <div class="col-md-6">
                        <input class="" size="30" 
                        formControlName="street2"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Postal Code: </label>
                    <div class="col-md-6">
                        <input class="" size="20" 
                        formControlName="postal_code"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">City: </label>
                    <div class="col-md-6">
                        <input class="" size="20" 
                        formControlName="city"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">State: </label>
                    <div class="col-md-6">
                        <input class="" size="20" 
                        formControlName="state"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <fieldset>
                <div class="row">
                    <label class="form-label col-md-4 text-right">Phone: </label>
                    <div class="col-md-6">
                        <input class="" size="20" 
                        formControlName="phone"
                        type="text"
                        placeholder="" />
                    </div><!--col-->
                </div><!--form-group-->
            </fieldset>

            <!-- <button class="btn btn-sm pull-xs-right btn-success" type="button" (click)="submitForm()">
              Save
            </button> -->

          </fieldset>
        </form> 
      </div>
      <div class="col">
              <div class="tag-list">
                <table style="width: 100%; background-color: white" class="table table-sm table-condensed table-striped">
                    <thead style="background-color: #42aa3f">
                        <th></th>
                        <th>ID</th>
                        <th>Region</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let area of areas">
                            <td (click)="populateForm(area)" style="color: #42aa3f"><i class="ion-refresh"></i></td>
                            <td>{{ area['id'] }}</td>
                            <td>{{ area['region'] }}</td>
                            <td>{{ area['code'] }}</td>
                            <td>{{ area['description'] }}</td>
                            <td style="color: red;" [ngClass]="{disabled: isDeleting}"
                                    (click)="delete(area)">
                                    <i class="icon-remove-circle icon-sm"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>

  </div>
  <div class="row">
      <div class="col-12">
          <mat-card class="mat-card">
              <button (click)="submitForm()" mat-raised-button color="primary">Save</button>&nbsp;&nbsp;&nbsp;
              <button (click)="reset()" mat-raised-button color="warn">New</button>
          </mat-card>
      </div>
  </div>
  
</div>
</div>