<div class="container">
	<div class="row">
	<br>
		<mat-card>
			<form [formGroup]="locationSessionsForm" class="example-form">
				<mat-form-field class="example-full-width">
				    <input formControlName="user" [(ngModel)]="currentUser.username" matInput placeholder="Current User">
				  </mat-form-field>

			  <mat-form-field>
				  <mat-select (ngModelChange)="objChanged($event)" formControlName="location" placeholder="Location">
				    <mat-option *ngFor="let location of locations" [value]="location.id">
				      {{location.location_name}}
				    </mat-option>
				  </mat-select>
				</mat-form-field>
			</form>
		</mat-card>
	</div>
</div>