<div class="custom-card">

<form>
<table style="height: 100%" width="100%" valign="center">
<h6><b><u>Location Table</u></b></h6>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" checked="checked">
			Late Fee = Daily Rate / Next Day Cutoff
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" checked="checked">
			Enable Symbol Device Support
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" checked="checked">
			Employer Mandatory
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" checked="checked">
			Forfeit Grace if late
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" checked="">
			Enable Mobile Device Support
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" checked="checked">
			Local Address Mandatory
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" checked="">
			Add Day if Late Charge > Daily rate
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" checked="checked">
			Default Mobile Sign Receipt to Yes
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Insurance Carrier / Policy Expiration Mandatory
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Prorate Monthly if Days> Month
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Show Damage Button on mobile return
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Insurance Agency/Policy Number Mandatory
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Apply Discount to Time
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Allow Direct Bill on Mobile Returns
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Add. Driver Insurance Agency / Policy Expiration Mandatory
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Take Payment on Monthly Return
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Destination / Cargo Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Export to Internet Bookings
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Auto Auto/Pay on Mobile Returns
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Referral Agency Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Enable Days Adj. for early/late picking
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Allow Re-use CC Auth on Mobile return
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Per KM Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Default payment Screen to payment / refund
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Autorefund on Mobile Returns
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Credit card mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Default Unit to "Needs Cleaning" at Return
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Enable Mobile Zebra Printing
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Email Address Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Use attachments / HTML in Email<br>
			<input type="checkbox" name="">
			Don't auto-attach file
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Enable Mobile Credit Card Swipe
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			PO Number Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Carry Over-repeat renter Credit card Info
			</label>
		</td>
		
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Prorate Monthly if Days> Month
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Show Damage Button on mobile return
			</label>
		</td>
		
		<td>
			<label class="container">
			<input type="checkbox" >
			Perform High Credit Check
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			Mobile Email Attachment
			<select style="width: 200px;">
				<option>1</option>
			</select>
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Mobile Phone Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Check A/R at Open
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Re-rate Quote / Rez When dates are changed
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Word Phone Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Show Driver Charges on Company Invoices
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Re-rate Quote/REZ when only time are changed
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Authorization Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Show Company Charges On Driver invoices
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox" >
			Re-rate Quote/REZ when the pickup is changed
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Alternate ID Mandatory
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox" >
			Show Other Companies on Co. Invoices
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox">
			Re-rate Quote/REZ when the class is changed
			</label>
		</td>
		<td>
			<label class="container">
			<input type="checkbox">
			Address Date Mandatory
			</label>
		</td>
	</tr>
	<tr>
		<td>
			<label class="container">
			<input type="checkbox">
			Use Unit Class for Rate Class
			</label>
		</td>
		<td>
		</td>
	</tr>
</table>
</form>
</div>
<app-location-footer></app-location-footer>