.custom-card {
  background: linear-gradient(to bottom, #D4EBBC 0%, rgba(212, 235, 188, 0.4) 100%);
}

td {
    font-size: 11px;
    font-family: Tahoma;
    height: 18px;
    padding: 0px;
}

.footer-card {
	padding: 5px;
	height: 40px;
}

.main-table {
	border-collapse: collapse;
    border: solid 1px #DBB84D;
    width: 100%;
    display: table;
    margin: 0px 0px 0px 1px;
    background: linear-gradient(to bottom, #D4EBBC 0%, rgba(212, 235, 188, 0.4) 100%);
}

body {
    background-color: White;
    color: Black;
    font-family: Tahoma;
    font-size: 11px;
    margin: 1px 1px 1px 1px;
}

element.style {
    height: 100%;
}

.mat-datepicker-toggle {
  margin: 0px !important;
  padding: 0px;
}