<mat-card>
<mat-card-title>
	<h4>Fleet Availability Shares</h4>
</mat-card-title>
<mat-card-content>
<form [formGroup]="availabilityForm">
	<table style="width: 100%; background-color: white" class="table table-sm table-condensed table-striped">
        <thead style="background-color: #42aa3f">
			<th>Allowed</th>
			<th>Loc Code</th>
			<th>Loc Name</th>
			<th>City / State</th>
		</thead>
		<tbody>
			<tr *ngFor="let avail of availability">
				<td>
					<input type="checkbox" formControlName="allowed" value="{{avail.allowed}}">
				</td>
				<td>
					{{avail.location.loc_code}}
				</td>
				<td>
					{{avail.location.location_name}}
				</td>
				<td>
					{{avail.city.name}} / {{avail.state.name}}
				</td>
			</tr>
		</tbody>
	</table>
</form>

</mat-card-content>
<mat-card-footer style="text-align: center;">
	<button class="btn btn-sm btn-info" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
	<button class="btn btn-sm btn-success">Save</button>
</mat-card-footer>
</mat-card>